.backGroundIkon {
	background-color: aliceblue;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ikonChamp {
	margin: 5px 10px;
	font-size: 20px;
	color: black;
}

.textForIkon {
	width: 170px;
	text-align: center;
}
