*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-image: url('../assets/img/body/backImg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0 100px;
}
a {
	text-decoration: none;
}
