/* .container {
	display: flex;
	justify-content: space-between;
	background-color: #2aa3cc;
	border: 1px solid black;
	width: 100%;
	height: 82px;
	padding: 10px;
}

.logo {
	background-image: url('../../src/assets/img/header/logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
	width: 170px;
	height: 100%;
}

.playerSearch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
}

.servLeag {
	outline: 0;
	outline-offset: 0;
	border-radius: 7px;
}

.dayNihtAndSearsch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
	width: 250px;
}

.search {
	outline: 0;
	outline-offset: 0;
	border-radius: 7px;
	width: 180px;
	height: 20px;
} */
